:root {
  --WORDLE_GRAY: #787c7f;
  --WORDLE_WHITE: #fff;
  --WORDLE_YELLOW: #c8b653;
}

.line {
  display: flex;
  justify-content: center;
}

.tile {
  color: var(--WORDLE_WHITE);
  font-size: 24px;
  font-weight: bold;
  height: 5rem;
  width: 5rem;
  border: 1px solid var(--WORDLE_GRAY);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  text-align: center;
}

.correct {
  background-color: #6ca965;
}

.incorrect {
  background-color: var(--WORDLE_GRAY);
}

.in-word {
  background-color: var(--WORDLE_YELLOW);
}

#center {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}